pkgbase = librecad-git
	pkgdesc = A 2D CAD drawing tool based on the community edition of QCad.
	pkgver = 20120304
	pkgrel = 1
	url = http://sourceforge.net/projects/librecad/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = boost
	depends = qt
	depends = boost-libs
	provides = librecad
	replaces = librecad-svn
	replaces = caduntu
	replaces = caduntu-svn

pkgname = librecad-git

